<h2>
    Network
</h2>
<div class="box_border">
    <dt>Client ID: </dt>
    <dd id="client_id">127.0.0.1:5000</dd>
    <br>
    <dt>Tracker: </dt>
    <dd id="tracker">127.0.0.1:5001</dd>
    <br>
    <dt>Peers: </dt>
    <dd id="peers">1</dd>
</div>
<h2 id="transactions_table_header">
    Peers
</h2>
<div class="box_border" style="background-color: #000000; color: #ffffff; ">
    <table id="peers_table">
        <tr>
            <th style="width: 50%;">Peer ID</th>
            <th style="width: 25%;">Host</th>
            <th style="width: 25%;">Port</th>
        </tr>
        <tr>
            <td>127.0.0.1:5001</td>
            <td>127.0.0.1</td>
            <td>5001</td>
        </tr>
    </table>
</div>