<div class="main">
    <h2>
        Create Vote
    </h2>
    <div class="box_border" style="width: 700px;">
        Candidate: 
        <select class="dropdown" name="Candidate" id="candidate_selector">
            <option value="candidate_a">Candidate A</option>
        </select>
        <button class="box_button" id="cast_vote" style="background-color: ba7718;">Cast Vote</button>
        <button class="box_button" id="cast_vote">Mine Block</button>
        <input type="checkbox" id="auto_mine" name="Auto Mine">
        <label for="auto_mine" style="background-color: #ccd0e8;"> Auto-Mine </label><br>
    </div>
    <h2>
        Transaction Log
    </h2>
    <div class="box_border" style="width: 700px; background-color: #000000;">
        I <br> am <br> so <br> slay.
    </div>
</div>