<h2>
    Create Vote
</h2>
<div class="box_border">
    Candidate: 
    <select class="dropdown" name="Candidate" id="candidate_selector">
        <option value="candidate_a">Candidate A</option>
    </select>
    <button class="box_button" id="cast_vote">Cast Vote</button>
    <button class="box_button" id="mine_block">Mine Block</button>
    <input type="checkbox" id="auto_mine">
    <label for="auto_mine" style="background-color: #ccd0e8;"> Auto-Mine </label><br>
</div>
<h2>
    Transaction Log
</h2>
<div class="box_border" style="background-color: #000000; color: #ffffff; font-size: 18px;">
    <div id="transaction_box">

    </div>
</div>